Language: Cpp
BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -2
ColumnLimit: 120
InsertNewlineAtEOF: true
NamespaceIndentation: All
WrapNamespaceBodyWithEmptyLines: Always
FixNamespaceComments: false

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  PadOperators: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  PadOperators: true

AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false

Cpp11BracedListStyle: true
BinPackArguments: false
AlignAfterOpenBracket: BlockIndent
